<div class="container">
  <div class="title">ToDo List</div>
  <div class="sub-heading">
    <button mat-raised-button
    color="primary"
    (click)="openDialog('list')" style="margin-right: 20px;">
    Add new List
    </button>
    <mat-slide-toggle (click)="toggleTheme()"
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
          Change Theme
        </mat-slide-toggle>
  </div>
  <div class="lists-block" cdkDropListGroup>
    <ng-container  *ngFor="let list of lists" >
      <div class="list-content"
        cdkDropList
        [cdkDropListData]="list.cards"
        (cdkDropListDropped)="drop($event)" cdkDrag>
            <div class="list-icons">
             <span class="list-name"> {{list.name}}</span>
              <mat-icon class="icon-class" (click)="openDialog('list',list.id, true, list.name)">edit</mat-icon>
              <mat-icon class="icon-class" (click)="confirmationDialog('list', list.id)">close</mat-icon>
            </div>

              <ng-container *ngFor="let card of list.cards">
                <div class="card-block" >
                  <mat-card class="cards" cdkDrag>
                  <div class="icons">
                    <mat-icon class="icon-class" (click)="openDialog('card',list.id, true, card.name, card.id)">edit</mat-icon>
                    <mat-icon class="icon-class" (click)="confirmationDialog('card', list.id, card.id)">close</mat-icon>
                  </div>
                  <span class="card-name">{{card.name}}</span>
                  </mat-card>
                </div>
              </ng-container>
              <button mat-button color="primary" (click)="openDialog('card',list.id)">Add new Card</button>
        </div>
    </ng-container>
  </div>
</div>
